name: github action workflows

on: push

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Welcome message
        run: echo "Welcome to Github Actions!"
      - name: List files
        run: ls
      - name: readme file
        run: cat README.md
